<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <title>odd even</title>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <style>
   table, th, td {
      border: 1px solid black;
      border-collapse: collapse;
    }
  </style>
</head>
<body>

<h1>Cek Angka</h1>
<form action="#" th:action="@{/oddeven}" th:object="${operation}" method="POST">
  <input type="text" th:field="*{a}"/>
  <br><br>
  <input type="text" th:field="*{b}"/>
  <p>
    <input type="submit" class="button" name="cek" value="Cek angka"/>
  </p>
  <table >
    <thead>
      <tr>
        <th>Hasil</th>
      </tr>
    </thead>
    <tbody>
      <tr
              th:each="result, iStat : ${results}"
              th:style="${iStat.odd}? 'font-weight: bold;'"
              th:alt-title="${iStat.even}? 'even' : 'odd'">
        <td th:text="${result}" />
      </tr>
    </tbody>
  </table>
</form>
</body>
</html>