<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <title>Cek Huruf Vokal</title>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <style>
   table, th, td {
      border: 1px solid black;
      border-collapse: collapse;
    }
  </style>
</head>
<body>

<h1>Cek Kalimat</h1>
<form action="#" th:action="@{/vowel-count}" th:object="${sentence}" method="POST">
  <textarea th:field="*{text}">Masukan kalimat anda disini</textarea>
  <br><br>
  <p>
    <input type="submit" class="button" name="cek" value="Cek Kalimat"/>
  </p>
  <table >
    <thead>
    <tr>
      <th>Hasil</th>
    </tr>
    </thead>
    <tbody>
    <tr>
      <td th:text="${results}" />
    </tr>
    </tbody>
  </table>
</form>
</body>
</html>